[submodule "Comp781"]
	path = Comp781
	url = https://github.com/ArmaanSethi/Hindsight-Experience-Replay-and-Hierarchical-Reinforcement-Learning.git
[submodule "Math564"]
	path = Math564
	url = https://github.com/ArmaanSethi/Designing-Biomorphs-with-an-Interactive-Genetic-Algorithm
[submodule "Comp590-DataCompression"]
	path = Comp590-DataCompression
	url = https://github.com/ArmaanSethi/Lossless-Data-Compression.git
[submodule "Phys331"]
	path = Phys331
	url = https://github.com/ArmaanSethi/Numerical-Techniques-in-Physics.git
[submodule "Comp521"]
	path = Comp521
	url = https://github.com/ArmaanSethi/Comp521.git
[submodule "Phys358"]
	path = Phys358
	url = https://github.com/ArmaanSethi/Physical-Modeling.git
[submodule "Phys358-FokkerPlanck"]
	path = Phys358-FokkerPlanck
	url = https://github.com/davisrbr/fokk-planck.git
[submodule "Comp576"]
	path = Comp576
	url = https://github.com/ArmaanSethi/Mathematics-for-Image-Computing.git
[submodule "Comp401"]
	path = Comp401
	url = https://github.com/ArmaanSethi/Comp401.git
[submodule "Comp410"]
	path = Comp410
	url = https://github.com/ArmaanSethi/Comp410.git
[submodule "Comp524"]
	path = Comp524
	url = https://github.com/ArmaanSethi/Comp524.git
[submodule "Comp790-FlexibleVGAE"]
	path = Comp790-FlexibleVGAE
	url = https://github.com/ArmaanSethi/Flexible-Variational-Graph-Auto-Encoders.git
[submodule "Comp555-Bioalgorithms"]
	path = Comp555-Bioalgorithms
	url = https://github.com/ArmaanSethi/Bioalgorithms.git
[submodule "Phys521-Quantum"]
	path = Phys521-Quantum
	url = https://github.com/ArmaanSethi/Quantum.git
